# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# work files
/todo.md
/lessonslearned.md

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
# .env*.local will ignore
# .env.development.local
# .env.production.local
# .env.testing.local

# .env gives defaults. aka if variables not defined, it will default to whatever is in .env
# .env.local will take preference over the defaults
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

.vercel
