@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Sura&display=swap");

:root {
  --font-impact: "Sura", serif;
  --font-text: "Barlow", sans-serif;

  --border-main: 1px solid black;
  --border-thick: 3px solid black;
}

* {
  /* border: 1px solid black; */
}

#chord-page-heading {
  border-bottom: var(--border-thick);
}

#admin-hero-background {
  background: rgb(152, 149, 203);
  background: linear-gradient(
    37deg,
    rgba(152, 149, 203, 1) 0%,
    rgba(158, 158, 233, 1) 31%,
    rgba(0, 212, 255, 1) 97%
  );
}

#chord-view-row {
  border-bottom: var(--border-main);
}

#image-border {
  /* border: 1px solid black; */
}
